<footer class="border-t mt-16 py-8 text-center text-sm text-gray-600">
    <div class="max-w-6xl mx-auto px-4">
        <p>© <%= new Date().getFullYear() %>
                <%= site.name %>. All rights reserved.</p>
        <div class="mt-2 space-x-4">
            <% if (site.socials.github) { %>
                <a class="underline" href="<%= site.socials.github %>" target="_blank">GitHub</a>
                <% } %>
                    <% if (site.socials.linkedin) { %>
                        <a class="underline" href="<%= site.socials.linkedin %>" target="_blank">LinkedIn</a>
                        <% } %>
                            <% if (site.socials.facebook) { %>
                                <a class="underline" href="<%= site.socials.facebook %>" target="_blank">Facebook</a>
                                <% } %>
                                    <% if (site.socials.x) { %>
                                        <a class="underline" href="<%= site.socials.x %>" target="_blank">X</a>
                                        <% } %>
        </div>
    </div>
</footer>